body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul {
      list-style-type: none;
}
      
li {
        color: black
        font-size: 25px;
        font-weight: 100;
        height: 19px;
        line-height: 1;
        list-style: none;
}

h2 {
font-size: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.location-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.searchInput {
    padding: 6px 20px;
    display: inline;
    height: 35px;
    margin-left: 10px; 
}
.inputButton {
    padding: 6px 12px;
    display: inline;
    height: 30px;
    text-align: center;
    margin: 3px 5px;
    font-size: small;
}
.geolocationButton {
    padding: 6px 6px;
    display: inline;
    height: 30px;
    width: 120px;
    text-align: center;
    margin: 3px 5px;
    font-size: small;
}
    .container {
        background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
        color: rgb(15, 0, 102);
        align-content: center;
        border: 1px solid #dadde1;
        padding: 15px;
        margin: 10px auto;
        border-radius: 10px;
        max-width: 600px;
}
    .fullApp {
        border-radius: 10px;
        border: 5px solid royalblue;
        padding: 15px;
        margin: 20px auto;
        max-width: 600px;

    }
   
    .floatingRight {
        float: right;
        width: 600px;
        display: inline;
        text-align: left;
        padding: 0px;
    }
    .presentTemp {
        font-size: 50px;
    }
    .days {
        color: black;
        border: 3px solid #382161;
        border-radius: 5px;
        text-align: center;
        margin: 10px 10px;
        padding-top: 10px 10px;
        font-size: 15px;
    }
    .containerImages {
        text-align: center;
        font-size: 15px;
    }
   .weekday {
    padding: 6px 12px;
    display: inline;
    text-align: center;
    margin: 5px auto;   
   }

   .location-temperature .active {
    color: black;
    cursor: pointer;
    }

    .location-temperature .active:hover {
     text-decoration: none;
    }

    .weather-temperature .units {
     position: relative;
    }

    .fahrenheit:hover {
  color: red;
  cursor: pointer;
}
.celsius:hover {
  color: red;
  cursor: pointer;
}
.fahrenheit {
  font-size: 15px;
}
.celsius {
  font-size: 15px;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;

}

.weather-forecast-date {
    font-size: 16px;
    color: rgb(155, 52, 14);

}

.weather-forecast-temperatures {
    font-size: 13px;
}

.weather-forecast-temp-min {
    opacity: 0.6;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.weather-forecast-temp-max {
  text-decoration: none;
  font-weight: 500;
  color: black;
}